# Node
node_modules/
.next/
out/
build/
.next-env.d.ts
*.tsbuildinfo
npm-debug.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
.DS_Store
